
.App-user-listing {
    width: 100vw;
    height: 75.5vh; /* 5.5vh from page-title + 70 vh from page-content */
}

.user-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*top: 17.5vh; 5.5vh from page title + 12vh from app header, 1px is a 'min-margin' */
    height: calc(70vh - 1px);
    overflow: auto;
    position: relative;
    box-sizing: border-box;
}


.user-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5.6617vw ;
    margin-top: 1px;
    box-sizing: border-box;
    background-image: linear-gradient(#31324F, #1F202E);
    width: 100%;
    color: #FFFFFF;
}

.user-row figure {
    margin: 0;
}

.user-row figure img {
    border-radius: 50%;
    max-width: 100%;
    min-width: 75px;
    height: auto;
}

.user-wrapper {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.user-data-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: calc(100% - 67px);
}

.user-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-size: calc(10px + 1vmin);
    margin: 0px 15px;
}