.App {
  text-align: center;
}

.App-logo {
  height: calc(10px + 15vmin);/*40vmin*/
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-nav{
  padding: 10px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  margin-left: 10px;
  transition: all .2s ease;
}
.App-link:hover {
  text-decoration: underline;
  color: #cff3fd;
}
